.button-logout {
    background-color: #dc7028;
    text-align: center;
}
.button-logout button{
    font-size: 1rem;
    border-radius: 0px;
    width: auto;
    min-width: 100px;
}

.button-logout button:hover {
    background-color: #e6884a;
    border-radius: 4px ;
    transition: all 0.2s ease-out;
}